.sbh_fp-testimonials {
    padding: 160px 20px;
}
.editor-styles-wrapper .sbh_fp-testimonials h1.sbh_section-title,
.rte .sbh_fp-testimonials h1.sbh_section-title {
    margin-bottom:40px;
    padding: 0px 20px;
    font-size: 38px;
    text-align:center;
}
.sbh_fp-testimonials .sbh_wrap {
    max-width: 800px;
    margin: 0 auto;
}
.sbh_single-testimonial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.3;
}
.editor-styles-wrapper .sbh_single-testimonial p,
.sbh_single-testimonial p {
    padding-bottom:20px;
    margin-top:0px;
    margin-bottom:0px;
}
.sbh_single-testimonial p:last-child {
    padding-bottom:0px;
}
.sbh_fp-testimonials figure {
    width: 150px;
}
.sbh_fp-testimonials img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.sbh_testimonial-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.has-image .sbh_testimonial-content {
    padding-left: 20px;
}
.rte .sbh_testimonial-content blockquote {
    font-size: 22px;
    padding-bottom: 10px;
    border-left:none;
    padding-left:0px;
}
.sbh_testimonial-content cite {
    color: var(--brand-1);
    font-style: italic;
    font-size: 22px;
}
.sbh_testimonial-content cite a {
    color: var(--brand-1);
    text-decoration:none;
}
.sbh_fp-testimonials .lSSlideOuter .lSPager.lSpg>li.active a,
.sbh_fp-testimonials .lSSlideOuter .lSPager.lSpg>li:hover a {
    background-color: var(--brand-1);
}
.sbh_fp-testimonials .lSSlideOuter .lSPager.lSpg {
    padding-top:30px;
}

@media only screen and (max-width : 600px) {
    .sbh_single-testimonial {
        display: block;
    }
    .sbh_fp-testimonials figure {
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .sbh_testimonial-content {
        padding-left:0px;
    }
}